.list {
  display: none;
  position: relative;
  z-index: 5;
}

.sideBar .sideBar-left {
  width: 982px;
  float: left;
}
.sideBar .sideBar-left .yule-title {
  position: relative;
  height: 44px;
  line-height: 44px;
}
.sideBar .sideBar-left .yule-title a {
  font-size: 14px;
  color: #666;
}
.sideBar .sideBar-left .yule-list {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 12px;
  padding: 0 14px 0 20px;
  width: 982px;
  box-sizing: border-box;
}
.sideBar .sideBar-left .yule-list h5 {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #a6a6a6;
}
.sideBar .sideBar-left .yule-list .all {
  background-color: #42444F;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  width: 44px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  text-align: center;
  margin: 0 8px;
  font-size: 14px;
}
.sideBar .sideBar-left .yule-list .yule-list1 {
  margin-top: 16px;
  border-bottom: 1px solid #f5f5f5;
}
.sideBar .sideBar-left .yule-list .yule-list2 {
  height: 38px;
  border-bottom: none;
  padding-bottom: 0px;
}
.sideBar .sideBar-left .yule-list .yule-list3 {
  position: relative;
}
.sideBar .sideBar-left .yule-list .yule-list3 .yu-inner1 {
  position: relative;
  left: -20px;
}
.sideBar .sideBar-left .yule-list .yu-inner {
  position: relative;
  top: -22px;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list {
  width: 820px;
  position: relative;
  left: 100px;
  float: left;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list .height {
  height: 200px;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list li {
  float: left;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list li a {
  display: inline-block;
  color: #666;
  font-size: 13.5px;
  width: 110px;
  height: 22px;
  line-height: 22px;
  margin-bottom: 8px;
  cursor: pointer;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list a:hover {
  color: #000;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list .more {
  float: right;
  font-size: 14px;
  color: #666;
  position: absolute;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list .book-list {
  display: none;
  position: absolute;
  top: 55px;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list .close {
  font-size: 14px;
  color: #666;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list .close-top {
  transform: rotate(180deg);
  margin-top: -3px;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list .book {
  display: block;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list .none {
  display: none;
}
.sideBar .sideBar-left .yule-list .yu-inner .yu-inner-list .more-none {
  display: none;
}
.sideBar .sideBar-left .yule-list .yu-inner .all-title {
  position: relative;
  left: 100px;
}
.sideBar .sideBar-left .yule-list .yu-inner .all-title span {
  width: 110px;
  font-size: 14px;
  cursor: pointer;
}
.sideBar .sideBar-left .yule-list .yu-inner .all-list, .sideBar .sideBar-left .yule-list .yu-inner .all-list2 {
  width: 851px;
  position: relative;
  top: 35px;
  display: none;
  background-color: #fbfbfb;
  padding: 12px 14px 4px 15px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  display: none;
}
.sideBar .sideBar-left .yule-list .yu-inner .all-list li a, .sideBar .sideBar-left .yule-list .yu-inner .all-list2 li a {
  display: inline-block;
  line-height: 22px;
}
.sideBar .sideBar-left .yule-list .yu-inner .list-block {
  display: block;
}
.sideBar .sideBar-left .yule-container {
  border: 1px solid #e5e5e5;
  margin: 16px 0 0;
}
.sideBar .sideBar-left .yule-container .yule-nav {
  background: #f5f5f5;
  font-size: 14px;
  width: 980px;
}
.sideBar .sideBar-left .yule-container .yule-nav li {
  float: left;
  padding: 12px 20px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  cursor: default;
}
.sideBar .sideBar-left .yule-container .yule-nav li a {
  color: #444;
}
.sideBar .sideBar-left .yule-container .yule-nav li .a-size {
  color: #444;
  background: #fff;
  font-weight: 700;
}
.sideBar .sideBar-left .yule-container .yule-nav .last-li {
  float: right;
  color: #666;
}
.sideBar .sideBar-left .yule-container .yule-nav .padding-L {
  margin-left: 50px;
  color: #666;
}
.sideBar .sideBar-left .yule-container .yule-nav .padding-L1 {
  color: #666;
  margin-left: -20px;
}
.sideBar .sideBar-left .yule-container .active-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}
.sideBar .sideBar-left .yule-container .yule-txt div {
  padding: 20px;
  border-bottom: 1px solid #f5f5f5;
}
.sideBar .sideBar-left .yule-container .yule-txt div .img {
  float: left;
  margin-right: 18px;
}
.sideBar .sideBar-left .yule-container .yule-txt div a {
  font-size: 18px;
  color: #444;
  line-height: 16px;
  font-weight: 700;
}
.sideBar .sideBar-left .yule-container .yule-txt div .star-img {
  margin-top: 10px;
}
.sideBar .sideBar-left .yule-container .yule-txt div .star-img img {
  margin-right: -2px;
  margin-top: 3px;
}
.sideBar .sideBar-left .yule-container .yule-txt div .star-img span {
  color: #999;
  font-size: 14px;
}
.sideBar .sideBar-left .yule-container .yule-txt div .star-img .five {
  color: #B08C4A;
  font-weight: bold;
  font-size: 13px;
}
.sideBar .sideBar-left .yule-container .yule-txt div .txt {
  margin-top: 15px;
  height: 26px;
  line-height: 26px;
  position: relative;
}
.sideBar .sideBar-left .yule-container .yule-txt div .txt span {
  font-size: 12px;
  color: #666;
  position: absolute;
  top: -2px;
  margin-left: 6px;
}
.sideBar .sideBar-left .yule-container .yule-txt div .txt2 {
  margin-top: -5px;
}
.sideBar .sideBar-left .yule-container .yule-txt .hover:hover {
  background-color: #fbfbfb;
}
.sideBar .sideBar-left .yule-footer {
  margin-top: 24px;
  padding-bottom: 50px;
  font-size: 14px;
}
.sideBar .sideBar-left .yule-footer p {
  padding-left: 15px;
  color: #888;
}
.sideBar .sideBar-left .yule-footer p span {
  color: #B08C4A;
}
.sideBar .sideBar-left .yule-footer .yule-num {
  margin: 0 auto;
  margin-top: 17px;
  padding: 0 300px;
}
.sideBar .sideBar-left .yule-footer .yule-num li {
  width: 25px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  float: left;
  border: 1px solid #f0f0f0;
  color: #999;
  margin-left: 5px;
  cursor: pointer;
}
.sideBar .sideBar-left .yule-footer .yule-num li:hover {
  color: #000;
  border-color: #000;
}
.sideBar .sideBar-right {
  float: right;
  width: 208px;
}
.sideBar .sideBar-right .right-img {
  margin-top: 44px;
}
.sideBar .sideBar-right .right-txt {
  width: 208px;
  border: 1px solid #e5e5e5;
  margin: 20px 0;
}
.sideBar .sideBar-right .right-txt h3 {
  padding: 16px;
  font-size: 18px;
  color: #333;
  line-height: 1;
  font-weight: 700;
}
.sideBar .sideBar-right .right-txt li {
  height: 240px;
  padding: 18px;
  border-top: 1px solid #f5f5f5;
  box-sizing: border-box;
  background: #fff;
}
.sideBar .sideBar-right .right-txt li h4 {
  font-size: 14px;
  width: 172px;
  color: #444;
  font-weight: 600;
  margin-top: 13px;
  line-height: 1;
}
.sideBar .sideBar-right .right-txt li .star {
  margin-top: 13px;
}
.sideBar .sideBar-right .right-txt li .star img {
  margin-right: -5px;
}
.sideBar .sideBar-right .right-txt li p {
  color: #999;
  margin-top: 13px;
  line-height: 1;
  font-size: 14px;
}
.sideBar .sideBar-right .right-txt li p .left {
  float: left;
}
.sideBar .sideBar-right .right-txt li p .right {
  float: right;
}
.sideBar .sideBar-right .right-txt li:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}